/* 글꼴 설정 */
@font-face {
    font-family: abster;
    src: url(font/abster-webfont.woff) format('woff');
} 
/* 전체 선택 */
*{
    margin: 0;
    /* 바깥 여백 초기화 */

    padding: 0;
    /* 안쪽 여백 초기화 */

    box-sizing: border-box;
    /* 넘침 방지 */
}
/* 배경처리 */
.container{
    width: 100%;
    /* 화면에 꽉 차게 */

    height: 100vh;
    /* 사용자의 화면에 따라 꽉 차도록 */

    background: linear-gradient(rgba(114, 149, 199, 0.2), rgba(148, 207, 255, 0.8)), url(images/room.jpg);
    /* 그라데이션, 이미지 저장 */
    
    background-repeat: no-repeat;
    background-size: cover;
    /* 확대, 축소 시 화면 변동 X */
}
/* 헤더배치 */
.container .header{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    /* 크기 여백 조정 */

    display: flex;
    justify-content: space-between;
    /* 각 요소들을 왼쪽과 오른쪽으로 각각 정렬 */
}
/* 글자로고 */
.container .header h1 a{
    color: white;
    text-decoration: none;
    font-family: abster;
}
/* 메뉴요소 배치 */
.container .header .nav ul li{
    display: inline-block;
    margin: 0 10px;
    /* display 속성을 바꿔 블록 요소 > 인라인 블록 요소로 변환, 여백 추가 */
}
/* 메뉴요소 스타일링 */
.container .header .nav ul li a{
    color: white;
    text-decoration: none;
}
/* 메뉴요소 마우스이벤트 */
.container .header .nav ul li a:hover{
    color: skyblue;
}
/* 화면 중앙 요소 배치 */
.container .hero{
    position: absolute;
    top: 50%;
    left: 50%;
    /* 기준 점에서부터 가운데로 */

    transform: translate(-50%, -50%);
    /* 화면 상에 가운데로 이동 */

    color: white;
    text-align: center;
}

/* 화면 중앙 요소 제목 */
.container .hero h2{
    font-size: 60px;
    margin-bottom: 20px;
}

/* 화면 중앙 요소 본문 */
.container .hero p{
    font-size: 22px;
}
/* 화면 중앙 요소 버튼 */
.container .hero button{
    background: none;    
    border-radius: 20px;
    border: 2px solid rgb(70, 109, 12);
    padding: 15px 20px;
    color: white;
    margin-top: 30px;
}
/* 화면 중앙 요소 버튼 처리 */
.container .hero button:hover{
    background-color: rgb(104, 158, 117);
}